body
    padding: 50px
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
    color: #00B7FF
  
h1
    color: #DEDEDE
    text-shadow: 1px 1px 1px darken(#DEDEDE, 50%)
    
.derp
    font-size: 18px
    color: #a5c464