body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

h1 {
    color: #dedede;
    text-shadow: 1px 1px 1px #000;
}

/*TEST STUFF*/

.testTitle {
    font-size: 24px;
    color: #434343;
}

#test-canvas {
    width: 800px;
    height: 400px;
    background: #c0c0c1;
} 
