extends layout

block content
	.row-fluid
		.span8.offset2.well
			each val, key in user
				if key != '_id' && key != 'password'
					.row-fluid
						.span3 <b>!{capitalize(key)}: </b>
						.span6 !{val}
		