extends layout

block append styles
    link(href='/css/canvas.css', rel='stylesheet')
    link(href='/css/farbtastic.css', rel='stylesheet')

block content
    .row
        .span9#testContainer
        .span3

            #right-column-controls
                .btn-group(data-toggle='buttons-radio')
                    #toggle-button.button.btn.btn-inverse.btn.active(type='button')
                        i.icon-hand-up.icon-white 
                    #rect-button.button.btn.btn-inverse(type='button', value='rect')
                        i.icon-rect.icon-custom
                    #circle-button.button.btn.btn-inverse(type='button', value='circle') 
                        i.icon-circle.icon-custom
                    #ellipse-button.button.btn.btn-inverse(type='button', value='ellipse') 
                        i.icon-ellipse.icon-custom
                    button.btn.btn-inverse.dropdown-toggle(data-toggle='dropdown') Color&#160;
                        span.caret
                    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
                        li
                            #picker
                form#fileupload(action='/upload')
                    input(type='file', name='files[]', multiple='multiple')
                    input(type='hidden', name='username', value='#{username}')
                #progress
                    .bar(style='width: 0%;')
            include chat

                
block scripts
    script(type='text/javascript', src='/vendor/kinetic-v4.0.5.min.js')
    script(type='text/javascript', src='/vendor/farbtastic.js')
    script(type='text/javascript', src='/vendor/jquery.ui.widget.js')
    script(type='text/javascript', src='/vendor/jquery.iframe-transport.js')
    script(type='text/javascript', src='/vendor/jquery.fileupload.js')
    script(type='text/javascript', src='/js/model/ShapeObject.js')
    script(type='text/javascript', src='/js/model/shapeIndicatorObject.js')
    script(type='text/javascript', src='/js/controllers/canvasController.js')
    script(type='text/javascript', src='/js/controllers/chatController.js')
    script(type='text/javascript', src='/js/utils/canvasUtils.js')
    script(type='text/javascript', src='/js/views/canvas.js')