extends layout

block content
    .row
        .span9#testContainer
        .span3
            .right-column
            #right-column-controls
                #toggle-button.button.btn.btn-large.btn-inverse(type='button') Toggle Draggable
                
            //- input.test-input(type='text', placeholder='Test input...')