extends layout

block content
    .container-fluid
        .row
            .span9#testContainer
            .span3.right-column
                input.test-input(type='text', placeholder='Test input...')
                