extends layout

block content
    .container-fluid
        .row-fluid
            .span2
                h2 Heading
                p
                    | Menu her?
            .span7
                #testContainer