extends layout

block content
    //Main hero unit for a primary marketing message or call to action 
    
    .container-fluid
        .row-fluid
            .span2
                h2 Heading
                p
                    | Donec id elit non mi porta gravida at eget metus. 
                    | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
                    | Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            .span10
                h2 Heading
                p
                    | Donec id elit non mi porta gravida at eget metus. 
                    | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
                    | Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    
    //- .hero-unit
    //-     h1 Canvas!
    //-     p
    //-         | Test canvas goes here.