.kineticjs-content {
	background-color: #E8E3E5;
    display: block ! important;
    margin: 0 auto;
}

.right-column {
    background-color: #a1a1a1;
    height: 400px;
}

#right-column-controls {
    margin-bottom: 20px;
  
}


/*NOT THE BEST FIX.. Buttons are not responsive in width :(  */
#toggle-button{
    padding-left: 13px;
    padding-right: 13px;
}

.btn {
    padding: 10px 12px;
}

/* --- Custom Icons --- */
.icon-custom {
	background: url("../img/custom-icons-white.png");
}

.icon-rect{
    background-position: 0px -14px;
}

.icon-circle{
    background-position: 28px -14px;
}

.icon-ellipse{
    background-position: 14px -14px;
}

@media (max-width: 800px) {
    [class*="span"],
      .uneditable-input[class*="span"],
      .row-fluid [class*="span"] {
        width: 96.2% ! important;
        margin-left: 1.9% ! important;
      }    
}
