.kineticjs-content {
	background-color: #E8E3E5;
    display: block ! important;
    margin: 0 auto;
   
}

.span9{
    background-color: red;
}

.right-column {
    background-color: #a1a1a1;
    height: 400px;
}

#right-column-controls {
    margin-top: 10px;
    height: 115px;
    background-color: #a1a1a1;
    
    
}
#toggle-button{
    display: block;
}

@media (max-width: 800px) {
    [class*="span"],
      .uneditable-input[class*="span"],
      .row-fluid [class*="span"] {
        width: 96.2% ! important;
        margin-left: 1.9% ! important;
      }    
}
