/*
  Bootstrap CSS
*/
@import "bootstrap.css"


/*
  Custom CSS
*/
.testCanvas
    border: 1px

#login-container{
	width 340px
	margin 160px auto	
	label{
		margin 15px 0 5px 5px
	}
	button{
		width 150px
		padding 6px 40px 6px 40px
		float left
		margin-top 15px
	}
	.checkbox{
		margin 23px 0 0 180px
	}
	.btm-links{
		text-align center
		margin-top 10px
	}
	#create-account{
		float:right
		margin-right:13px
	}	
	#forgot-password{
		float:left
		margin-left:10px
	}
}