body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h1 {
  color: #dedede;
  text-shadow: 1px 1px 1px #6f6f6f;
}
.derp {
  font-size: 18px;
  color: #a5c464;
}
